<div class="container">
  <div class="header">
    <button hc-icon-button (click)="settings()">
      <hc-icon fontSet="fa" fontIcon="fa-cog"></hc-icon>
    </button>
  </div>
  <div class="word">
    <span *ngIf="!running">Sight Words</span>
    <span *ngIf="running">{{ currentWord }}</span>
  </div>
  <div class="footer">
    <div class="progress">
      <hc-progress-spinner
        *ngIf="running"
        diameter="75"
        [isDeterminate]="true"
        [progress]="progress"
        [isCentered]="true"
      ></hc-progress-spinner>
      <span [hcPop]="lists" trigger="hover"
        >{{ masteredWords.length }} / {{ wordList.length }}</span
      >
    </div>
    <div class="controls">
      <button
        *ngIf="running"
        hc-button
        buttonStyle="secondary"
        (click)="next()"
      >
        Next
      </button>
      <button
        *ngIf="running"
        hc-button
        buttonStyle="secondary"
        (click)="stop()"
      >
        Stop
      </button>
      <button
        *ngIf="!running"
        hc-button
        buttonStyle="primary"
        (click)="start()"
      >
        Start
      </button>
    </div>
    <div class="progress"></div>
  </div>
</div>

<ng-template
  #settingsModal
  let-close="close"
  let-dismiss="dismiss"
  let-data="data"
>
  <hc-modal>
    <hc-modal-header>Settings</hc-modal-header>
    <hc-modal-body>
      <hc-form-field>
        <hc-label>Word list</hc-label>
        <textarea hcInput [(ngModel)]="data" rows="10"></textarea>
      </hc-form-field>
    </hc-modal-body>
    <hc-modal-footer>
      <button hc-button buttonStyle="link" (click)="dismiss()">Cancel</button>
      <button hc-button buttonStyle="primary" (click)="close(data)">OK</button>
    </hc-modal-footer>
  </hc-modal>
</ng-template>

<hc-pop #lists>
  <h3>Word list</h3>
  <div class="columns">
    <div>
      <h4>Mastered</h4>
      <div *ngFor="let word of masteredWords">{{ word }}</div>
    </div>
    <div>
      <h4>Unmastered</h4>
      <div *ngFor="let word of unmasteredWords">{{ word }}</div>
    </div>
  </div>
</hc-pop>
